@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background: repeating-linear-gradient(
      0.25turn,
      #61bdc9,
      transparent 0.001%,
      #87cfee 0.65%
    ),
    repeating-linear-gradient(
      #2097ce,
      #88d3dd 15%,
      #a9d1cf 25%,
      #2097ce 50%,
      #a9d1cf 70%,
      #88d3dd 85%,
      #2097ce 100%
    );
  background-size: 100% 200%;
  animation: paintAnimation 200s infinite linear;
}

@keyframes paintAnimation {
  0% {
    background-position: 0% 0%, 0% 200%;
  }
  50% {
    background-position: 0% 0%, 0% 100%;
  }
  100% {
    background-position: 0% 0%, 0% 0%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .link {
    @apply p-2 hover:bg-slate-700 hover:rounded-lg hover:text-white;
  }

  .page-background {
    @apply pt-10 pb-20 px-1 sm:px-7 min-h-64 bg-white bg-opacity-75 rounded-xl w-[95%];
    min-height: 70vh;
  }

  .prose {
    max-width: none;
    font-size: 18px;
  }

  .text-balance {
    text-wrap: balance;
  }
  .prose p {
    margin: 0px;
    /* margin-bottom: 16px; */
  }
  .prose ul li {
    margin: 0px;
    position: relative;
    padding-left: 1em;
  }
  .prose ul li::before {
    content: "-";
    position: absolute;
    left: 0;
    color: black;
  }
  .prose ul {
    margin: 0px;
    margin-bottom: 2px;
    list-style-type: none;
    padding-inline-start: 1em;
    margin-bottom: 10px;
  }
  .prose code {
    background-color: rgba(246, 196, 178, 0.9);
    border-radius: 4px;
    padding: 2px 4px;
    color: rgb(236, 91, 1);
    word-break: break-word;
  }

  .prose code::before,
  .prose code::after {
    content: "";
  }

  .prose pre {
    display: flex;
    line-height: 1.4;
    margin: 10px 0px;
    padding: 25px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: visible;
    white-space: pre-wrap;
  }

  .prose pre code {
    background-color: transparent;
    /* color: rgb(255, 255, 255); */
    color: black;
  }
}
