@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background: repeating-linear-gradient(
      0.25turn,
      #61bdc9,
      transparent 0.001%,
      #87cfee 0.65%
    ),
    repeating-linear-gradient(
      #2097ce,
      #88d3dd 15%,
      #a9d1cf 25%,
      #2097ce 50%,
      #a9d1cf 70%,
      #88d3dd 85%,
      #2097ce 100%
    );
  background-size: 100% 200%;
  animation: paintAnimation 200s infinite linear;
}

@keyframes paintAnimation {
  0% {
    background-position: 0% 0%, 0% 200%;
  }
  50% {
    background-position: 0% 0%, 0% 100%;
  }
  100% {
    background-position: 0% 0%, 0% 0%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link {
  @apply p-2 hover:bg-slate-700 hover:rounded-lg hover:text-white;
}

.page-background {
  @apply m-20 mt-5 mb-14 py-10 px-7 min-h-64 bg-white bg-opacity-65 rounded-xl;
  width: 100%;
  height: auto;
}
